<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notification</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--import google font icons-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--After that we link our css file-->
    <link rel="stylesheet" href = "{{path_of_style2}}" />
    <!--Import twitter font from the cons and from font_awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>


<body>
    <!--Building side_bar starts-->
    <div class="sidebar">
        <!--Inside this side bar we have to show twitter icon by importing twitter icon class-->
        <i class="fab fa-twitter"></i>

        <!--Seperate indiviual classes and container for all of others-->
        <!--Home icon-->
        <a href="{{ url_for('dashboard', name=name,image=image) }}">
            <div class="sidebarOption active">
                <span class="material-icons"> home </span>
                <h2> Home </h2>
            </div>
        </a>

        <!--Search icon-->

        <div class="sidebarOption active">
            <!-- <span class="material-icons">search</span> -->



            <div class="sidebarOption active" name="search">
                <input class="search-txt" type="text" name=" search" placeholder="Type to search">

                <a class="search-btn" href="#"><img src="https://icon-library.com/images/image-search-icon/image-search-icon-3.jpg" width="25px" height="25px" alt="search"></a>
                <h4 style="color:#50b7f5; padding-left:3px;">search</h4>
            </div>

        </div>

        <!--Notification icon-->
        <a href="{{ url_for('notification', name=name,image=image) }}">
            <div class="sidebarOption ">
                <span class="material-icons"> notifications_none </span>
                <h2>Notifications</h2>
            </div>
        </a>

        <!--Message icon-->
        <a href="{{ url_for('followings', name=name,image=image) }}">
            <div class="sidebarOption ">
                <span class="material-icons"> mail_outline </span>
                <h2>Followings</h2>
            </div>
        </a>
        <!--Profile-->
        <a href="{{ url_for('profile', name=name,image=image) }}">
            <div class="sidebarOption ">
                <span class="material-icons"> account_circle </span>
                <h2> Profile </h2>
            </div>
        </a>
        <!--Twitter button-->
        <!--</div>
    <button class="sidebar__tweet">Tweet</button>
    </div>-->
    </div>

    <div class="friends_feed">
        <div class="heading">
            <br>
            <h2>Notifications</h2>
        </div>
        {% for i in range(0,len)%}
        <a href="{{url_for('dashboard',name=name,image=image)}} ">
            <div class="friend">
                <img src="{{list[i][0]}}">
                <div class="friend_information">
                    <h1>{{list[i][1]}} <h3>{{list[i][4]}} </h3></h1>
                    <br>
                    <h2 style="margin-left:3%;">{{list[i][2]}} ; {{list[i][3]}} </h2>
                </div>
            </div>
            </a>
        {%endfor%}
    </div>

</body>
</html>

<body>

</body>
</html>