/* Styling slide bars */


/*Remove browsers defaults and arrange them*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
}


/* Display side bar in front of his icons */


/* flex = arrange element in particular container*/

.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
}


/* To space between all icons*/

.sidebarOption .material-icons,
.fa-twitter {
    padding: 20px;
}


/* Now style headings */

.sidebarOption h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}


/*Now style pressing sidebar options*/


/*hover = style a text when you mouse over it*/


/*radius = add two rounded corner b/w two elements*/

a {
    text-decoration: none !important;
}

.sidebarOption:hover {
    background-color: var(--twitter-background);
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}


/*Design tweet button*/


/* .sidebar__tweet {
    width: 20%;
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 800;
    border-radius: 30px;
    height: 50px;
    margin-top: 20px;
} */


/* Design full body */

body {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}


/* Design Side bar */

.sidebar {
    border-right: 3px solid pink;
    flex: 0.2;
    min-width: 290px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}


/* Design twitter icon blue and its size */

.fa-twitter {
    color: var(--twitter-color);
    font-size: 30px;
}


/* Styling feed and tweet box */


/* feed */

.feed {
    /*flex =Take 50% of screen */
    /*overflow= make feed scrollable */
    flex: 0.5;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
}

.feed__header {
    /*sticky = stick to top */
    position: sticky;
    top: 0;
    background-color:var(--twitter-color);
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
}


/*After that a scroll bar show which are not look good so we will remove it */

.feed::-webkit-scrollbar {
    display: none;
}

.feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
    min-width: 570px;
}


/*Twitter header home */

.feed__header h2 {
    font-size: 20px;
    font-weight: 800;

}

/* post */

.post__avatar img {
    border-radius: 50%;
    height: 40px;

}
.post__avatar{
    margin-left:2%;
}


.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 3px solid pink;
    padding-bottom: 10px;
    margin-top:1%;
}

.post__body img {
    width: 460px;
    max-height:450px;
    object-fit: contain;
    border-radius: 20px;
}

.post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    cursor:pointer;
}


/*verified acount */

.post__badge {
    font-size: 14px !important;
    color: var(--twitter-color);
    margin-right: 5px;
}


/* Gmail or nick name */

.post__headerSpecial {
    font-size: medium;
    font-weight: 300;
    color: brown;
}

.search-box {
    position: absolute;
    background: #2f3640;
    height: 40px;
    border-radius: 100px;
    padding: 10px;
}

.sidebarOption[name="search"]:hover>.search-txt {
    /*width for text writing*/
    width: 140px;
    padding: 0 6px;
    margin: 3px
}

.search-box:hover>.search-btn {
    background: white;
}

.search-btn {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px
}
.image_chooser{
    margin-right:auto;
    cursor:pointer;
    outline:none;
}
.post__headerDescription{
padding-bottom:2%;
}
.post__headerText{
    margin-left:3%;
    margin-right:1%;
}

.friend_id{
    border-left:3px solid pink;
}
.friend_id img{
    width:80%;
    height:60%;
    max-height:280px;
    border-radius:100%;
    margin-left:30%;
    margin-top:2%;
}
.F_LName{
    margin-left:5%;
}
.follow{
    border: 3px solid var(--twitter-color);
    border-radius:30px;
    margin-left:83%;
    padding:8px;
    background-color:lightBLUE;

}
.post__body{
    width:80%
}